:root {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MuiTextField-root>.MuiFormLabel-root.Mui-focused {
    color: rgb(151, 151, 151);
    border: none
}

.field-input {
    width: 100%;
    padding: 10px;
    outline:none;
    border:none;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
}

.field-input::after {
    content: 'aasba';
    position: absolute;
    width: 300px;
    top: 0;
    color: red;
    z-index: 9999
}

.spaced {
    
}