:root {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MuiTextField-root>.MuiFormLabel-root.Mui-focused {
    color: rgb(151, 151, 151);
    border: none
}

.field-input {
    width: 100%;
    padding: 0y;
    outline: none;
    border: none;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
    margin-top: 7px
}

.field-input::after {
    content: '';
    position: absolute;
    width: 300px;
    top: 0;
    color: red;
    z-index: 9999
}

.password {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(170, 170, 170, 0.3);
    border-radius: 5px;
    padding: 0 10px;
}

.field-input-email {
    width: 100%;
    padding: 10px;
    outline:none;
    border:none;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
    border: 2px solid rgba(170, 170, 170, 0.3);
    margin-top:5px;
    transition: all 0.3s ease;
} 

.field-input-email:hover,
.password:hover {
    border: 2px solid #1565c0;
}